.profile {
  margin-left: 240px;
  max-width: 50%;
  margin-top: 55px;

  background-color: #fff;
}

.profile_container {
  width: 100%;
  display: flex;
  padding-top: 10px;
  align-items: center;
  position: relative;
  right: 0;
}

.profile_container button {
  position: absolute;
  right: 0;
  margin-right: 20px;
  padding: 10px;
  background-color: #55abee;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
}

.profile_container button:hover {
  background-color: #fff;
  outline: 1px solid #55abee;
  color: #55abee;
}

.profile_avatar {
  border-radius: 50%;
  max-height: 100px;
  max-width: 100px;
  border: 1px solid grey;
  margin-right: 30px;
  margin-left: 20px;
}

.profile_stats {
  display: flex;
  padding: 10px;
  align-items: center;

  margin-top: 30px;
  justify-content: space-evenly;
}

.profile_stats div {
  padding: 10px;
}

.profile_stats div:hover {
  background-color: #55abee;
  color: white;
}

@media (max-width: 768px) {
  .profile {
    margin-left: 60px;
    margin-bottom: 450px;
  }

  .profile_avatar {
    max-width: 70px;
    max-height: 70px;
  }

  .profile_container button {
    padding: 8px;
  }

  .profile_stats {
    max-height: 60px;
  }

  .profile_stats span {
    font-size: 15px;
  }
}

@media all and (max-width: 480px) {
  .profile {
    max-width: 95%;
    margin-left: 50px;
    margin-bottom: 60px;
  }

  .profile_avatar {
    max-height: 40px;
    max-width: 40px;
    margin-right: 10px;
  }

  .profile_info {
    margin-left: 0;
    font-size: 12px;
  }

  .profile_container button {
    padding: 8px;
  }

  .profile_stats {
    max-height: 60px;
  }

  .profile_stats span {
    font-size: 14px;
  }
}
