.follow-head {
  margin-top: 30px;
}

.follow-container {
  border-radius: 5%;
  border: 1px solid var(--accent);
}

.follow-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.follow-bx1 {
  display: flex;
  justify-content: flex-start;
}

.follow-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid black;
  margin: 5px;
}

.follow-btn {
  background: green;
  padding: 5px;
  width: 100px;
  height: 35px;
  margin: 5px;
}
