.search {
  border: 3px solid var(--accent);
}

.search-box {
  display: flex;
  align-items: center;
  border-radius: 15px;
  margin-left: 10px;
  border: 1px solid var(--accent);
  background: #cfe6f829;
  margin-top: 2px;
}

.search-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid black;
}
